body {
  padding-top: 50px;
  /*padding-bottom: 40px;*/
  /*background-color: #233B21;*/
  /*background-color: #051405;*/
  /*background-color: #27541B;*/
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 20px;
  background-color: #f5f5f5;
}

.footer a:link, a:active, a:visited {
  text-decoration: none;
  color:#999;
}

.footer a:hover{
  color:#999;
  text-decoration: underline;
}
