body {
  padding-top: 80px;
  padding-bottom: 40px;
}

section.part {
  background-color: #BCDBA6;
  border: 1px solid #102133;
  margin-bottom: 18px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

section.part:nth-child(even) {
  background-color: #CBCD9C;
}

section.part aside {
  background-color: #D5D6D2;
}

section.part aside span {
  font-size: 1.2em;
  line-height: 1.8em;
}

section.part aside span {
  font-size: 1em;
  /*line-height: 1.8em;*/
  padding: 2px 0;
}

section.part aside span:last-child {
  text-align: right;
}